In [1]:
import pandas as pd

In [62]:
# Load datasets
room_type_path = "airbnb_room_type.xlsx"
last_review_path = "airbnb_last_review.tsv"
price_path = "airbnb_price.csv"

In [76]:
df_room_type = pd.read_excel(room_type_path)
df_last_review = pd.read_csv(last_review_path, sep="\t")
df_price = pd.read_csv(price_path)

In [77]:
# Clean 'price' column
df_price["price"] = df_price["price"].str.replace(" dollars", "").astype(float)

In [78]:
# Convert 'last_review' to datetime
df_last_review["last_review"] = pd.to_datetime(df_last_review["last_review"], errors="coerce")

In [79]:
print(df_room_type.columns)
print(df_last_review.columns)

Index(['listing_id', 'description', 'room_type'], dtype='object')
Index(['listing_id', 'host_name', 'last_review'], dtype='object')

In [81]:
# Handle missing values
df_room_type["description"].fillna("Unknown", inplace=True)
df_last_review["host_name"].fillna("Unknown", inplace=True)

In [82]:
# Standardizing room type categories
room_type_mapping = {
    "Entire Home/Apt": "Entire Home/Apt",
    "ENTIRE HOME/APT": "Entire Home/Apt",
    "Private Room": "Private Room",
    "private room": "Private Room",
    "PRIVATE ROOM": "Private Room",
    "Shared Room": "Shared Room",
    "SHARED ROOM": "Shared Room",
    "Entire home/apt": "Entire Home/Apt",
    "Entire home": "Entire Home/Apt",
    "entire home/apt": "Entire Home/Apt",
    "Private room": "Private Room",
    "private Room": "Private Room",
    "Private rm": "Private Room",
    "Shared room": "Shared Room",
    "shared room": "Shared Room",
    "Shared rm": "Shared Room"
    }

In [83]:
df_room_type["room_type"] = df_room_type["room_type"].replace(room_type_mapping)

In [84]:
# Merge datasets on 'listing_id'
df_merged = df_room_type.merge(df_last_review, on="listing_id").merge(df_price, on="listing_id")

In [85]:
df_merged["last_review_year"] = df_merged["last_review"].dt.year

In [86]:
# cleaned dataset
df_merged.to_csv("airbnb_cleaned.csv", index=False)

In [87]:
print(df_merged.info())
print(df_merged.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   listing_id        25209 non-null  int64
 1   description       25209 non-null  object
 2   room_type         25209 non-null  object
 3   host_name         25209 non-null  object
 4   last_review       25209 non-null  datetime64[ns]
 5   price             25209 non-null  float64
 6   nbhood_full       25209 non-null  object
 7   last_review_year  25209 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(4)
memory usage: 1.4+ MB
None
   listing_id                                description        room_type  \
0        2595                      Skylit Midtown Castle  Entire Home/Apt
1        3831            Cozy Entire Floor of Brownstone  Entire Home/Apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire Home/Apt
3        5178            Large Furnished Room Near B'way     Private Room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire Home/Apt

     host_name last_review  price                nbhood_full  last_review_year
0     Jennifer  2019-05-21  225.0         Manhattan, Midtown              2019
1  LisaRoxanne  2019-07-05   89.0     Brooklyn, Clinton Hill              2019
2        Chris  2019-06-22  200.0     Manhattan, Murray Hill              2019
3     Shunichi  2019-06-24   79.0  Manhattan, Hell's Kitchen              2019
4          Ben  2019-06-09  150.0       Manhattan, Chinatown              2019